.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

    button {
        border-radius: 20px;
    }

    .text {
        margin-top: -5px;
        font-weight: 600;
    }
}